################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
images/stardew/maps/swamp.png
.gitignore
